.section_bill_view {
    width: 100%;
    display: grid;
    row-gap: 2rem;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width:768px) {
    .section_bill_view {
        grid-template-columns: repeat(3, 1fr);
    }
}